*{
  box-sizing: border-box;
  font-family: 'Open ', sans-serif;

}
.main-nav{
  color: black !important;

}
#logo{
  height: 60px;
  margin-left: 20px !important;
  overflow-x: hidden;
}
#dropdown1{
  position: absolute !important;
  top: 13% !important;

}
#car_image{
  background-color: #1a237e !important;
  border-radius: 25px !important;
  width: 3% !important;
  padding-left: 10px !important;
}

#register-car-btn{
  color: white !important;


}
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  background-color: grey;
 }
.form{
  margin: 40px 30px;
  padding: 20px !important;

}
.form label{
  font-size: 18px;
  color: black;

}

#searchBtn{
  margin-left: 45%;
}

.carousel{
  position: relative !important;
}
.carousel img{
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.jumbotran-content{
  position: absolute !important;
  top: 10%;
  left: 4%;
  font-size: larger;
}
.jumbotran{
  padding-top: 150px;
  color: darkred;

}
section{
  margin: 40px 20px !important;

}
section h5{
  width: 40%;
  margin: 0 auto;
  padding-left: 9%;
  font-weight:700;
  color: rgb(43, 43, 43);
  letter-spacing: 1px;
}
.title-line{
  display: block;
  border-bottom: 2px solid #1a237e;
  width: 25%;
  margin-top: 20px;
  margin-left: 36%;

}
.login-div {
  max-width: 430px;
  padding: 35px !important;
  border: 1px solid #ddd;
  border-radius: 0;
  margin: 40px 0;

}

.logo {
  /*background-image: url("Logo.png");*/
  width:100px;
  height:100px;
  border-radius: 50%;
  margin:0 auto;
}

.form-search{
    opacity: 0.5 ;
}
.form-search:hover{
    opacity: 1;
}
#about-para{
  text-align: center;
  color: gray;
}
.about .about-row{
  margin: 30px 30px;
  color: rgb(61, 60, 60);
}

.rates img{
  padding: 0 25px;
}
.tab a{
  color:#1a237e !important;

}
.tab a:hover{
  background-color: #1a227e80 !important;
  color: white !important;
}
.tab a.active{
  background-color: #1a237e !important;
  color: white !important;
}
.tabs .indicator{
  background-color:lightblue !important;
}
.cars-gallery{
  padding: 20px !important;
  margin: 20px !important;
}
.card-title{
  top: 70% !important;
  left: 0% !important;
  color: black !important;
  font-weight: 200 !important;
  font-size: 20px !important;

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.rates{
  margin-top: -3% !important;
  margin-left: -17% !important;
  font-size: 12px ;
  border: 2px solid rgb(207, 204, 204);
  padding: 2px 4px;
}
#modal1 {
  max-height: 100%;
  padding: 0 50px !important;
  width: 40% !important;
  border-radius: 10px !important;

}
.card{
  height: 310px ;
}
/*.card img:hover{
  transform: scale(1.5,1.5) ;
  transition: transform 0.5ms;
}*/
.bg{
    margin: 0 !important;
    margin-bottom: 20px !important;
}
#bg-car{
    height: 350px !important;
    width: 100% !important;
    /*margin-bottom: -25px !important;*/
}

footer{
    background-color: rgb(196, 194, 194);
    padding: 60px 120px ;
}
.sub-footer{
    background-color: #1a237e;
    margin: 0;
    margin-top: -20px !important;
    color: white;
    padding: 0.11% ;
    text-align: center;
}

footer img{
    width: 300px;
    height: 180px;
    margin-top: -30px;
}
footer i{
  margin-right: 10px;
}

/* booking page*/
.booking-form{

  margin: 0 9% !important;
}

.booking-form h5{
  margin: 0 10px 10px 10px ;
}
.booking-form input,
.booking-form select{
  width: 80% !important;
}
input:focus {
  border-bottom: 1px solid #1a237e !important;
  box-shadow: 0 1px 0 0 #1a237e !important;
}
label.active {
  color: #1a237e !important;
}
.dropdown-content li>span {
  color: #000 !important;
}

.dropdown-content li>a {
  color: #000 !important;
}

.select-content li>span {
  color: #000 !important;
}

[type="radio"]:checked + span:after {
  border: 2px solid #1a237e !important  ;
  background-color: #1a237e !important;
}
#days-booking,
#date-booking{
    width: 60% !important;
}

#days-booking{
    margin-left: 10px !important;
}
#date-booking{
    margin-left: -15px !important;
}
.select-content li>a {
  color: #000 !important;
}
.select-wrapper .caret{
    left: 71% !important;
}
.car-specs ul{
    margin-left: 30px;
}
.car-specs i{
    margin-right: 10px;
}
.car-specs img {
  margin-top: -30px;
  margin-left: -50px;
  height: 400px;
  width: 550px;
}
.collection-item{
    position: relative !important;
}
.delete-btn{
    position: absolute !important;
    top: 65% !important;
    left: 84% !important;
    border-radius: 10px !important;
    transition: background-color 500ms;
    transition: border-radius 50ms;
    text-transform: capitalize;
  }

.delete-btn:hover{
    background-color: #1a227ec9 !important;
    border-radius: 15px ;
    box-shadow: 2px 2px 2px grey;
}


.card-image img{
  height: 180px !important;

}